{
    "extends": [
        "./node_modules/@cnnprivate/cnn-scripts/eslint.js",
        "plugin:wdio/recommended"
    ],
    "plugins": ["wdio"],
    "env": {
        "browser": true,
        "node": true,
        "jest": true
    }
}